<!DOCTYPE html>
<html>
  
<head>
    <title>Home Page</title>
      
    <style type="text/css" media="screen">
        body {
            background-color:green;
            text-decoration-color: white;
            font-size:2em; 
        }
    </style>
</head>
  
<body>
    <center>This is our home page.</center>
    Welcome <%=name%>, to our home page.
</body>
  
</html>    
